*.iml
*.apk
/.idea/
/target/
/build/
.DS_Store
.externalNativeBuild
*/__pycache__/
**/*.csv
**/*.png
**/*.pyc
**/*.xlsx
**/*.ok
#**/*.html
**/*.log
**/*.pkl
#**/*.txt
**/*.bak
**/*.jpg
**/local-config.cnf
**/*.log.*
/venv/
/results/
/data/
/results/*.csv
**/session_name.session
/bin/*.lock
/.venv
/portfolios/
test/
**/*.local.yaml
/x/
